<script setup lang="ts">
import { mdiFacebook, mdiInstagram } from "@mdi/js";
</script>
<style scoped>
.eiei {
  font-size: 50px;
  font-family: Tahoma;
  padding: 10px;
  text-align: left;
  color: #d2386c;
  font-weight: 900;
}
.beam {
  font-family: Gill Sans;
  color: #0072b5;
}
</style>
<template>
  <v-main class="bg-blue-accent-1">
    <v-container>
      <v-row>
        <v-col cols="12" sm="3">
          <v-sheet rounded="lg" min-height="350">
            <br />
            <center>
              <v-avatar
                image="https://media.discordapp.net/attachments/889368640275759175/1053625827574681641/20221217_175035.jpg?width=460&height=460"
                size="200"
                rounded="0"
              ></v-avatar>
              <div class="beam">sepmy</div>
              <div class="beam">🥺kor hai dai grade A satu 🤍</div>
            </center>
          </v-sheet>
        </v-col>

        <v-col cols="12" sm="9">
          <v-sheet min-height="200vh" rounded="lg">
            <br />
            <v-table>
              <thead>
                <tr>
                  <div class="eiei">🧸PORTFOLIO</div>
                </tr>
                <tr>
                  <th style="font-size: 20px">ABOUT ME</th>
                </tr>
                <tr>
                  <td style="font-size: 20px; font-family: monospace">
                    NAME : Arisa Rattanaaudomsuk
                  </td>
                  <td style="font-size: 20px; font-family: monospace">
                    NICKNAME : Mild
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 20px; font-family: monospace">
                    BIRTHDAY : 05 september 02
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 20px; font-family: monospace">
                    WEIGHT : 55 kg.
                  </td>
                  <td style="font-size: 20px; font-family: monospace">
                    HEIGHT : 167 cm.
                  </td>
                </tr>
                <tr>
                  <th style="font-size: 20px">CONTACT</th>
                </tr>
                <tr>
                  <td style="font-size: 20px; font-family: monospace">
                    PHONE : 0989480327
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 20px; font-family: monospace">
                    EMAIL : 64160265@go.buu.ac.th
                  </td>
                </tr>
                <br />
                <v-btn
                  class="ml-5 mt-2"
                  href="https://www.facebook.com/sepmy2"
                  color="blue"
                >
                  <v-icon :icon="mdiFacebook"></v-icon>
                  <div>Arisa Rattanaaudomsuk</div>
                </v-btn>
                <v-btn
                  class="ml-5 mt-2"
                  href="https://www.instagram.com/sepmymine/"
                  color="pink"
                >
                  <v-icon :icon="mdiInstagram"></v-icon>
                  <div>sepmymine</div>
                </v-btn>
              </thead>
            </v-table>
            <br />
            <br />
            <v-table>
              <thead>
                <tr>
                  <th style="font-size: 20px">EDUCATION</th>
                </tr>
                <br />
                <v-timeline direction="horizontal">
                  <v-timeline-item>
                    <template v-slot:opposite> Kindergarten </template>
                    <div>
                      <div class="text-h8">2006-2008</div>
                      <p>TANGENG SCHOOL</p>
                    </div>
                  </v-timeline-item>

                  <v-timeline-item>
                    <template v-slot:opposite>Elemantary School</template>
                    <div>
                      <div class="text-h8">2009-2014</div>
                      <p>SARITDIDET SCHOOL</p>
                    </div>
                  </v-timeline-item>

                  <v-timeline-item>
                    <template v-slot:opposite> High School </template>
                    <div>
                      <div class="text-h8">2015-2020</div>
                      <p>SIYANUSORN SCHOOL</p>
                    </div>
                  </v-timeline-item>
                </v-timeline>
              </thead>
            </v-table>
            <v-table>
              <thead>
                <tr>
                  <th style="font-size: 20px">HOBBY</th>
                </tr>
                <v-card max-width="400" class="mx-auto mt-6">
                  <v-container>
                    <v-row dense>
                      <v-col cols="12">
                        <v-card color="blue" theme="dark">
                          <div
                            class="d-flex flex-no-wrap justify-space-between"
                          >
                            <div>
                              <v-card-title class="text-h5">
                                Listening music
                              </v-card-title>

                              <v-card-subtitle
                                >treasure ,new jeans, nct, dept</v-card-subtitle
                              >
                            </div>

                            <v-avatar class="ma-3" size="125" rounded="0">
                              <v-img
                                src="https://media-kiwis.monline.com/media/catalog/product/cache/4eae07c2f68a268511cfb4de77370966/1/_/1_431_9.jpg"
                              ></v-img>
                            </v-avatar>
                          </div>
                        </v-card>
                      </v-col>

                      <v-col cols="12">
                        <v-card color="pink" theme="dark">
                          <div
                            class="d-flex flex-no-wrap justify-space-between"
                          >
                            <div>
                              <v-card-title class="text-h5">
                                Movies
                              </v-card-title>

                              <v-card-subtitle
                                >Marvel,Disney,Barbie</v-card-subtitle
                              >
                            </div>

                            <v-avatar class="ma-3" size="125" rounded="0">
                              <v-img
                                src="https://m.media-amazon.com/images/M/MV5BOTU2Yzk1OWYtNDRmNy00MWM1LTkwNDEtMzU3ZGQzMWQ5NTZiXkEyXkFqcGdeQXVyNDE5MTU2MDE@._V1_FMjpg_UX1000_.jpg"
                              ></v-img>
                            </v-avatar>
                          </div>
                        </v-card>
                      </v-col>

                      <v-col cols="12">
                        <v-card color="red" theme="dark">
                          <div
                            class="d-flex flex-no-wrap justify-space-between"
                          >
                            <div>
                              <v-card-title class="text-h5">
                                Game
                              </v-card-title>

                              <v-card-subtitle
                                >Valorant,The Sim4,FiveM</v-card-subtitle
                              >

                              <v-card-actions>
                                <v-btn
                                  class="ml-2"
                                  icon="mdi-play"
                                  variant="text"
                                ></v-btn>
                              </v-card-actions>
                            </div>

                            <v-avatar class="ma-3" size="125" rounded="0">
                              <v-img
                                src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt08e92b76edbfae54/638abf512f74eb654f428179/Val_Banner_Sage_Chamber_Harbor_1920x1080.jpg?auto=webp&disable=upscale&height=504"
                              ></v-img>
                            </v-avatar>
                          </div>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card>
              </thead>
            </v-table>
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script></script>
